<header>
  <ul>
    <li><a href="main">Liste d'articles suivis</a></li>
    <li><a href="profil">Profil</a></li>
    <li><a (click)="deconnexion()">Déconnexion</a></li>
    <li class="notification-item">
      📩 <span class="notif-label">Notification</span>
       
    </li>
  </ul>
</header>

<body>
<h1>Détails de {{ article.nom }}</h1>
<div class="container">
  <div class="divImgA">

    <img *ngIf="article.urlimage; else noImage" [src]="article.urlimage" alt="Image art">
    <ng-template #noImage>
      <p>Image non disponible</p>
    </ng-template>
  </div>

  <div class="divDescA">
    <h2>Description</h2>
    <p>{{ article.description }}</p>
  </div>

  <div class="divSeuilA">
    <h2>Seuil </h2>
    <input type="number" [(ngModel)]="article.seuil" class="form-control" />
      <button  class="btnModifSeuil" (click)="modifierArticle(article) "type="button">
        📝
      </button> <br>


  </div>

  <div class="divFreqA">
    <h2>Fréquence</h2>
    <input type="number" [(ngModel)]="article.frequence" class="form-control" />
      <button  class="btnTendancePrix" (click)="modifierArticle(article)" type="button">
        📝
      </button>

  </div>
  <div class="divFreqA">
    <h2>Notification</h2>
    <select class="form-select" [(ngModel)]="article.notif">
      <option value="email">Email</option>
      <option value="push">Push</option>
      <option value="deux">push-Email</option>
    </select>
    <button  class="btnTendancePrix"(click)="modifierArticle(article)" type="button">
      📝
    </button>
    <div class="divForceUpdate">
      <button (click)="forceUpdate(article)"> Forcer la récupération du prix </button>
      <p *ngIf="timerDemarre">Temps écoulé depuis le dernier scan des données: {{ tempsRestant }}</p>
      <p> Dernière mise à jour : {{article.derniereUpdate}}</p>
    </div>
    <!--<button class="btn btn-primary mt-3" (click)="modifierArticle(article)">Enregistrer les modifications</button>
  --> </div>

  <div class="divSitesA" >
    <h2>Sites disponibles :</h2>
    <ul *ngIf="article && article.sites && article.sites.length">
      <li *ngFor="let s of article.sites; trackBy: trackById">
        <button (click)="afficherTendancePrix()" class="btnTendancePrix" type="button">
          <h4> {{ s.nomSite }} </h4>  📈
        </button>
        <div class="divGraphS" >
          <div class="divGraphSFiltre">
            <button (click)="changerFiltre('heure', s.graph)" >Dernière Heure</button>
            <button (click)="changerFiltre('jour', s.graph)">Dernier Jour</button>
            <button (click)="changerFiltre('semaine', s.graph)">Dernière Semaine</button>
            <button (click)="changerFiltre('mois', s.graph)">Dernier Mois</button>
            <button (click)="changerFiltre('semestre', s.graph)">Dernier Semestre</button>
            <button (click)="changerFiltre('annee', s.graph)">Dernière Année</button>
            <button (click)="changerFiltre('tout', s.graph)">Tout</button>
          </div>
          <canvasjs-chart [options]="s.graph.options"> </canvasjs-chart>
        </div>
      </li>
      </ul>
    </div>
 <div class="divBestA">
      <h2>Meilleur prix :</h2>
      <button (click)="afficherTendancePrix()" class="btnTendancePrix" type="button">
        📈
      </button>
      <div class="divGraphS">
        <div class="divGraphSFiltre">
          <button (click)="changerFiltre('heure', article.graph)" >Dernière Heure</button>
          <button (click)="changerFiltre('jour', article.graph)">Dernier Jour</button>
          <button (click)="changerFiltre('semaine', article.graph)">Dernière Semaine</button>
          <button (click)="changerFiltre('mois', article.graph)">Dernier Mois</button>
          <button (click)="changerFiltre('semestre', article.graph)">Dernier Semestre</button>
          <button (click)="changerFiltre('annee', article.graph)">Dernière Année</button>
          <button (click)="changerFiltre('tout', article.graph)">Tout</button>
        </div>
        <canvasjs-chart  *ngIf="article.graph && article.graph.dataPoints && article.graph.dataPoints.length > 0"
                         [options]="article.graph.options"></canvasjs-chart>
      </div>
  </div>

</div>

</body>
<footer class="footer text-center space-before">
  <p>&copy; 2025 Comparateur de Prix. Tous droits réservés.</p>
  <p><a href="terms">Conditions d'utilisation</a> | <a href="privacy">Politique de confidentialité</a></p>
</footer>