<header>
<ul>
  <li><a href="main">Rechercher</a></li>
  <li><a href="listeSuivi">Liste d'articles suivis</a></li>
  <li><a href="profil">Profil</a></li>
</ul>
</header>

<body>
<p> Voici votre liste d'articles suivis</p>
<div class="container">

  <table>
    <thead>
    <tr>
      <th> Nom de l'article</th>
      <th> Image de l'article</th>
      <th> Description</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let a of articles">
      <td><a> {{ a.nom }} </a>
        <button (click)="afficherArticle(a.id)" type="button"> Afficher détails</button>
      </td>
      <td> img</td>
      <td> {{ a.description }}</td>
      <td>
        <button (click)="supprimerArticleListe()" class="btnTendancePrix" type="button">
          ❌
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>

