p {
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-self: center;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

header li {
  float: left;
}

header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

header li a:hover {
  background-color: #111;
}


.container {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: baseline;
  justify-self: center;
  background-color: #f1eeee;
  border-radius: 10px;
  padding: 16px;
}

.container div{
  width: 90%;
  justify-self: center;
  justify-items: center;
  text-align: center;
  background:linear-gradient(to bottom, rgba(164, 50, 34, 0.37) 0%, rgba(205, 80, 58, 0) 100%);
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  font-family: "Open sans", Arial, serif;
}

.btnTendancePrix {
  background-color: transparent;
  color: #444;
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
}

.active, .btnTendancePrix:hover {
  background-color: #ccc;
}

.btnModifSeuil {
  background-color: transparent;
  color: #444;
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
}

.active, .btnModifSeuil:hover {
  background-color: #ccc;
}

.divSitesA {
  width: fit-content;
}

.divGraphS {
  display: none;
  overflow: hidden;
  width: fit-content;
  justify-content: center;
}

body ul {
  list-style-type: none;
  width: 100%;
  text-align: center;
}

body li{
  width: 100%;
}

h1 {
  text-align: center;
  font-family: "Open sans", Arial, serif;
}

.divInputSeuil {
  display: none;
  flow : hidden;
}
