<header>
  <ul>
    <li><a href="main">Rechercher</a></li>
    <li><a href="listeSuivi">Liste d'articles suivis</a></li>
    <li><a href="profil">Profil</a></li>
  </ul>
</header>

<body>
<h1>Détails de {{ article.nom }}</h1>
<div class="container">
  <div class="divImgA">
    <h2>Image de l'article :</h2>
    <img src="" alt="Image art">
  </div>

  <div class="divDescA">
    <h2>Description de l'article :</h2>
    <p>{{ article.description }}</p>
  </div>

  <div class="divSeuilA">
    <h2>Seuil de l'article :</h2>
    <p>{{ article.seuil }} €
      <button (click)="modifierSeuil()" class="btnModifSeuil" type="button">
        📝
      </button> <br>
    </p>
    <div class="divInputSeuil">
      <input type="number" [(ngModel)]="article.seuil" />
      <button (click)="submitSeuil()"></button>
    </div>

  </div>

  <div class="divFreqA">
    <h2>Fréquence des données récupérées :</h2>
    <p>{{article.frequence}} (min)
      <button (click)="modifierFrequence()" class="btnTendancePrix" type="button">
        📝
      </button>
    </p>
  </div>

  <div class="divSitesA">
    <h2>Sites disponibles :</h2>
    <ul>
      <li *ngFor="let s of article.sites">
        {{ s.nomSite }}
        <button (click)="afficherTendancePrix()" class="btnTendancePrix" type="button">
          📈
        </button>
        <div class="divGraphS">
           <canvasjs-chart
                    [options]="{
                    animationEnabled: true,
                    zoomEnabled : true,
                    data: [{
                      type: 'line',
                      dataPoints: s.graph.dataPoints,
                      xValueType : 'DateTime'
                    }],
                    axisX : {
                      title : 'Temps',
                      valueFormatString: 'YYYY-MM-DD HH:mm',
                      labelAngle : 0,
                      minimum : s.graph.dataPoints[0].x,
                      interval : article.frequence
                    },
                    axisY : {
                      title : 'Prix',
                      suffix : ' €',
                    }
                  }"></canvasjs-chart>
        </div>
      </li>

    </ul>

  </div>

  <div class="divBestA">
    <h2>Meilleur prix :</h2>
    <button (click)="afficherTendancePrix()" class="btnTendancePrix" type="button">
      📈
    </button>
    <div class="divGraphS">
      <canvasjs-chart  *ngIf="article.graph && article.graph.dataPoints && article.graph.dataPoints.length > 0" [options]="{
          animationEnabled: true,
          zoomEnabled : true,
          data: [{
              type:'line',
              dataPoints: article.graph.dataPoints,
              xValueType : 'DateTime',
              yValueType : 'number',
          }],
          axisX : {
              title : 'Temps',
              valueFormatString: 'YYYY-MM-DD HH:mm',
              labelAngle : 0,
              minimum : article.graph.dataPoints[0].x,
          },
          axisY : {
              title : 'Prix',
              suffix : ' €',
          }
      }"></canvasjs-chart>
    </div>

  </div>
</div>
</body>


