<ul>
 
  <li><a href="main">Liste d'articles suivis</a></li>
   <li><a href="profil">Profil</a></li>
   <li><a (click)="deconnexion()">Déconnexion</a></li>
 </ul>
 <div class="container">
 
   <form (ngSubmit)="onSubmit()">
     <label for="nom">Nom de l'Article</label>
     <input type="text" id="nom" name="nom" [(ngModel)]="article.nom" required />
 
     <label for="seuil">Seuil</label>
     <input type="text" id="seuil" name="seuil" [(ngModel)]="article.seuil" required />
 
     <label for="frequence">Fréquence</label>
     <input type="text" id="frequence" name="frequence" [(ngModel)]="article.frequence" required />
 
     <label for="notif">Type de notification</label>
     <select id="notif" name="notif" [(ngModel)]="article.notif" required>
       <option value="email">Email</option>
       <option value="deux">push-Email</option>
       <option value="email">Email</option>
     </select>
 
     <h3>Sites associés :</h3>
 
     <div class="switch-container">
       <span class="switch-label">Amazon</span>
       <label class="switch">
         <input type="checkbox" [(ngModel)]="article.selectedSites.amazon" name="amazon" />
         <span class="slider round"></span>
       </label>
     </div>
 
     <div class="switch-container">
       <span class="switch-label">FNAC</span>
       <label class="switch">
         <input type="checkbox" [(ngModel)]="article.selectedSites.fnac" name="fnac" />
         <span class="slider round"></span>
       </label>
     </div>
 
     <div class="switch-container">
       <span class="switch-label">LDLC</span>
       <label class="switch">
         <input type="checkbox" [(ngModel)]="article.selectedSites.ldlc" name="ldlc" />
         <span class="slider round"></span>
       </label>
     </div>
 
     <div class="switch-container">
       <span class="switch-label">Boulanger</span>
       <label class="switch">
         <input type="checkbox" [(ngModel)]="article.selectedSites.boulanger" name="boulanger" />
         <span class="slider round"></span>
       </label>
     </div>
 
     <div class="switch-container">
       <span class="switch-label">Rue du Commerce</span>
       <label class="switch">
         <input type="checkbox" [(ngModel)]="article.selectedSites.rueducommerce" name="rueducommerce" />
         <span class="slider round"></span>
       </label>
     </div>
     <div class="switch-container">
      <span class="switch-label">cdiscount</span>
      <label class="switch">
        <input type="checkbox" [(ngModel)]="article.selectedSites.cdiscount" name="rueducommerce" />
        <span class="slider round"></span>
      </label>
    </div>
 
     <div class="switch-container">
       <span class="switch-label">Leclerc</span>
       <label class="switch">
         <input type="checkbox" [(ngModel)]="article.selectedSites.leclerc" name="leclerc" />
         <span class="slider round"></span>
       </label>
     </div>
 
     <div class="switch-container">
       <span class="switch-label">Alternate</span>
       <label class="switch">
         <input type="checkbox" [(ngModel)]="article.selectedSites.alternate" name="alternate" />
         <span class="slider round"></span>
       </label>
     </div>
     <div class="switch-container">
      <span class="switch-label">lego</span>
      <label class="switch">
        <input type="checkbox" [(ngModel)]="article.selectedSites.lego" name="alternate" />
        <span class="slider round"></span>
      </label>
    </div>
 
     <div class="switch-container">
       <span class="switch-label">eBay</span>
       <label class="switch">
         <input type="checkbox" [(ngModel)]="article.selectedSites.ebay" name="ebay" />
         <span class="slider round"></span>
       </label>
     </div>
     <div class="btn-container">
       <button class="btnSubmit valider" type="submit">Valider</button>
   
       <a href="main">
         <button class="btnSubmit annuler" type="button">Annuler</button>
       </a>
     </div>
   </form>
 </div>
 <footer class="footer text-center space-before">
  <p>&copy; 2025 Comparateur de Prix. Tous droits réservés.</p>
  <p><a href="terms">Conditions d'utilisation</a> | <a href="privacy">Politique de confidentialité</a></p>
  <p class="credits">
    Réalisé par Lina Boudefoua, Jonathan Derrez et Bernard Hugo
  </p>
</footer>

