<!-- articles-suivi.component.html -->
<ul>

  <li><a href="main">Liste d'articles suivis</a></li>
  <li><a href="profil">Profil</a></li>
  <li><a (click)="deconnexion()">Déconnexion</a></li>
  <li><a (click)="toggleNotifications()">Notifications 📩</a></li>
  <li><a (click)="showNotifications()">Notifications 📩</a></li> 
</ul>
<div class="notifications">
  <h3>🔔 Notifications reçues :</h3>
  <ul>
    <li *ngFor="let notif of notifications">{{ notif }}</li>
  </ul>
</div>


<div class="container mt-4">
  <h2 class="mb-3 text-center">Liste des Articles Suivis</h2>
  <table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>Nom</th>
      
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let article of articles">
        <td class="article-name">{{ article.nom }}</td>
       <!-- <td>{{article.Description}}
        <td><input type="number" [(ngModel)]="article.frequence" class="form-control" /></td>
        <td><input type="number" [(ngModel)]="article.seuil" class="form-control" /></td>
        <td>
          <select class="form-select" [(ngModel)]="article.notif">
            <option value="email">Email</option>
            <option value="push">Push Notification</option>
          </select>
        </td>--> 
        <td>
          <button class="btn btn-warning" (click)="voirArticle(article.numA)">➕ </button>
        </td>
        <td>
          <button class="btn btn-warning btn-sm mt-2" (click)="toggleArticleSitesVisibility(article)">
            {{ article.isEditing ? 'Masquer le formulaire' : 'Modifier les sites' }}
          </button>

          <!-- Affichage des sites horizontalement, conditionnellement basé sur isSitesVisible -->
          <div *ngIf="article.isSitesVisible" class="mt-2 p-3 border rounded">
            <div *ngFor="let site of siteNames(article.selectedSites)" class="form-check mb-2">
              <input 
                type="checkbox" 
                class="form-check-input" 
                [(ngModel)]="article.selectedSites[site]" 
                [id]="site" />
              <label class="form-check-label" for="{{site}}">{{ site }}</label>
            </div>
            <button class="btn btn-info mt-2" (click)="modifierArticle(article)">valider</button>
          </div>   
        </td>
       
        <td>
          
          <button class="btn btn-danger" (click)="SupprimeArticle(article)">Supprimer</button>
        
        </td>
      </tr>
    </tbody>
  </table>
  <div class="text-center">
    <button class="btn btn-success me-2" (click)="ajouterArticle()">➕ Ajouter article </button>
    
  </div>

  
 
  
