<div class="login">
  <div class="login-screen">
    <div class="app-title">
      <h1>Créez votre compte</h1>
    </div>

    <form class="login-form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="control-group">
        <input type="text" class="login-field" value="" placeholder="Nom d'utilisateur" id="login-name"
               formControlName="username">
        <label class="login-field-icon fui-user" for="login-name"></label>
      </div>

      <div class="control-group">
        <input type="text" class="login-field" value="" placeholder="Prénom" id="login-prenom"
               formControlName="firstname">
        <label class="login-field-icon fui-user" for="login-prenom"></label>
      </div>

      <div class="control-group">
        <input type="text" class="login-field" value="" placeholder="Email" id="login-email"
               formControlName="email">
        <label class="login-field-icon fui-user" for="login-email"></label>
      </div>

      <div class="control-group">
        <input type="password" class="login-field" value="" placeholder="Mot de passe" id="login-pass"
               formControlName="password">
        <label class="login-field-icon fui-lock" for="login-pass"></label>
      </div>

      <div class="control-group">
        <input type="password" class="login-field" value="" placeholder="Confirmer mot de passe" id="login-passconf"
               formControlName="mdpconf">
        <label class="login-field-icon fui-lock" for="login-passconf"></label>
      </div>

      <button class="btn btn-primary btn-large btn-block" type="submit">Créer le compte</button>
      <a class="signin-link" href="/login">Vous avez déjà un compte?</a>
    </form>
    <div class="text-center mt-3">
      <a href="">Accueil</a>
     </div>
  </div>
</div>
