/* Global Styles */
*:focus {
    outline: none;
}

body {
    font-family: "Open Sans", Arial, serif;
    background-color: #f7f7f7; /* Fond clair pour une ambiance douce */
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Utilise toute la hauteur de la fenêtre */
    margin: 0;
}

.container {
    max-width: 600px;
    width: 100%;
}

h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

/* Form Container with Orange Gradient */
form {
    background: linear-gradient(to bottom, #FF7F50, #FF4500); /* Dégradé orange-rouge */
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Ombre douce pour plus de profondeur */
}

.form-label {
    font-size: 1rem;
    color: #fff;
}

/* Input Fields Style */
input[type="email"], input[type="password"] {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 200;
    padding: 12px;
    width: 100%;
    margin: 10px auto;
    transition: border 0.3s ease;
}

input[type="email"]:focus, input[type="password"]:focus {
    border: 2px solid #FF6347; /* Orange clair */
    box-shadow: 0 0 8px rgba(255, 99, 71, 0.8); /* Lueur orange lors du focus */
}

/* Custom Button Style */
button[type="submit"] {
    background: linear-gradient(45deg, #FF7F50, #FF4500); /* Dégradé orange */
    color: white;
    font-weight: bold;
    border-radius: 30px;
    padding: 12px 30px;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in-out;
    width: 100%;
    margin-top: 20px;
}

button[type="submit"]:hover {
    background: linear-gradient(45deg, #FF6347, #FF4500); /* Dégradé orange-rouge au survol */
}

/* Centered Text */
.text-center {
    text-align: center;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
    form {
        padding: 25px;
    }

    input[type="email"], input[type="password"] {
        width: 90%;
        max-width: 100%;
    }

    button[type="submit"] {
        width: 90%;
    }
}
